/java_src

/java_bin
/logs
/external_libs

## Temporary config file
temp.cfg

## Temporary route file
routes.json

## Cache directory
/.cache

### IntelliJ IDEA ###
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/inspectionProfiles/
*.iws
*.iml
*.ipr